.style-panel {
  position: fixed;
  top: 50%;
  right: 10px;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  box-shadow: 1px 1px 8px 0px #000000;
  border-radius: 8px;
  padding: 8px;
  background-color: #fff;
}

.style-panel-title {
  font-size: 12px;
  padding-bottom: 4px;
  color: #888;
  font-weight: bold;
}
