.toolbar {
  position: fixed;
  top: 50%;
  left: 10px;
  display: flex;
  flex-direction: column;
  transform: translateY(-50%);
  box-shadow: 1px 1px 8px 0px #000000;
  border-radius: 8px;
}

.toolbar button {
  border-radius: 0;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #ffffff;
  transition: .3s;
}

.toolbar button.active {
  background-color: #dddddd;

}

.toolbar button:hover {
  background-color: #cccccc;
}

.toolbar button:first-of-type {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.toolbar button:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
